<form
  class="mt-4"
  method="Post"
  name="container-form"
  action="/book_references/handle-form-actions"
>
  <div>
    <h2>List refered books deleted</h2>
    <div class="mt-">
      <a href="/me/stored/book">List refered books</a>
    </div>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Name</th>
        <th scope="col">N.o pages</th>
        <th scope="col">Author</th>
        <th scope="col">Deleted time</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each books}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.Name}}</td>
          <td>{{this.Number_of_pages}}</td>
          <td>{{this.Author}}</td>
          <td>{{this.deletedAt}}</td>
          <td>
            <a
              href=""
              class="btn btn-link btn-restore"
              data-id="{{this._id}}"
            >Restore</a>
            <a
              href=""
              class="btn btn-link"
              data-toggle="modal"
              data-id="{{this._id}}"
              data-target="#delete-book-modal"
            >Delete</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">
            The bin is empty
            <a href="/me/stored/book">List refered book</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</form>