<div class="mt-4">
  <div class="row">
    {{#each employees}}
      <div class="col-sm-6 col-lg-4">

        <div class="card" style="width: 18rem;">
          <a href="/api/employee/{{this.slug}}">
            <img
              class="card-img-top"
              src="{{this.image}}"
              class="card-img-top"
              alt="{{this.name}}"
            />
          </a>
          <div class="card-body">
            <a href="/api/employee/{{this.slug}}">
              <h5 class="card-title">{{this.name}}</h5>
            </a>
            <p class="card-text">{{this.position}}</p>
            <a href="/api/employee/{{this.slug}}" class="btn btn-primary">Info
              details</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>